[submodule "repos/arceos-hypervisor/x86_vcpu"]
	path = repos/arceos-hypervisor/x86_vcpu
	url = https://github.com/arceos-hypervisor/x86_vcpu
[submodule "repos/arceos-org/allocator"]
	path = repos/arceos-org/allocator
	url = https://github.com/arceos-org/allocator
[submodule "repos/arceos-org/axconfig-gen"]
	path = repos/arceos-org/axconfig-gen
	url = https://github.com/arceos-org/axconfig-gen
[submodule "repos/arceos-hypervisor/axaddrspace"]
	path = repos/arceos-hypervisor/axaddrspace
	url = https://github.com/arceos-hypervisor/axaddrspace
[submodule "repos/Starry-OS/starry-process"]
	path = repos/Starry-OS/starry-process
	url = https://github.com/Starry-OS/starry-process
[submodule "repos/arceos-org/axsched"]
	path = repos/arceos-org/axsched
	url = https://github.com/arceos-org/axsched
