[submodule "repos/arceos-hypervisor/x86_vcpu"]
	path = repos/arceos-hypervisor/x86_vcpu
	url = https://github.com/arceos-hypervisor/x86_vcpu
[submodule "repos/arceos-org/allocator"]
	path = repos/arceos-org/allocator
	url = https://github.com/arceos-org/allocator
[submodule "repos/arceos-hypervisor/axaddrspace"]
	path = repos/arceos-hypervisor/axaddrspace
	url = https://github.com/arceos-hypervisor/axaddrspace
[submodule "repos/Starry-OS/starry-process"]
	path = repos/Starry-OS/starry-process
	url = https://github.com/Starry-OS/starry-process
[submodule "repos/arceos-org/axsched"]
	path = repos/arceos-org/axsched
	url = https://github.com/arceos-org/axsched
[submodule "repos/arceos-org/linked_list_r4l"]
	path = repos/arceos-org/linked_list_r4l
	url = https://github.com/arceos-org/linked_list_r4l
[submodule "repos/arceos-org/slab_allocator"]
	path = repos/arceos-org/slab_allocator
	url = https://github.com/arceos-org/slab_allocator
[submodule "fix/axsched"]
	path = fix/axsched
	url = https://github.com/os-checker/axsched
	branch = fix
[submodule "fix/linked_list_r4l"]
	path = fix/linked_list_r4l
	url = https://github.com/os-checker/linked_list_r4l
	branch = fix
